[submodule "static/lib/controls3d"]
	path = static/lib/controls3d
	url = https://gitlab.com/Maluscat/controls3d.git
[submodule "static/lib/graphics-tools"]
	path = static/lib/graphics-tools
	url = https://gitlab.com/Maluscat/graphics-tools.git
