<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'pages/templates/common-head.njk' %}
    <link rel="stylesheet" href="/style/snake/index.css">
  </head>
  <body class="init">
    <main>
      <div id="game-controls">
        <button type="button" class="disabled" data-menu="playPause" tabindex="-1">
          <div class="container">Pause</div>
        </button>
        <button type="button" class="disabled" data-menu="restart" tabindex="-1">
          <div class="container">Restart</div>
        </button>
        <button type="button" class="disabled" data-menu="difficulty" tabindex="-1">
          <div class="container">Difficulty</div>
        </button>
        <button type="button" data-menu="controls">
          <div class="container">Controls</div>
        </button>
      </div>
      <div class="game-wrapper">
        <div class="game-window" tabindex="0">
          <div class="menu-overlay">
            <div class="menu persistent" data-overlay="start" data-disables="playPause,restart,difficulty">
              <div class="heading">
                Snake
              </div>
              <div class="btn-group">
                <button type="button" class="change-diff new-game" data-menu="start">
                  <div class="container">Easy</div>
                </button>
                <button type="button" class="change-diff new-game focus" data-menu="start" autofocus>
                  <div class="container">Medium</div>
                </button>
                <button type="button" class="change-diff new-game" data-menu="start">
                  <div class="container">Hard</div>
                </button>
              </div>
            </div>
            <div class="menu hidden persistent" data-overlay="gameover" data-disables="playPause,restart">
              <div class="heading">
                Game over
              </div>
              <button type="button" class="new-game focus" data-menu="gameover">
                <div class="container">Restart</div>
              </button>
              <button type="button" class="toggle-overlay">
                <div class="container">Toggle overlay</div>
              </button>
            </div>
            <div class="menu hidden" data-overlay="playPause">
              <div class="heading">
                The game is paused
              </div>
              <button type="button" class="focus" data-menu="playPause">
                <div class="container">Resume</div>
              </button>
            </div>
            <div class="menu hidden" data-overlay="restart" data-disables="playPause">
              <div class="heading">
                Restart the game?
              </div>
              <div class="btn-group">
                <button type="button" class="focus" data-menu="restart">
                  <div class="container">Resume</div>
                </button>
                <button type="button" class="new-game" data-menu="restart">
                  <div class="container">Restart</div>
                </button>
              </div>
            </div>
            <div class="menu hidden" data-overlay="difficulty" data-disables="playPause">
              <div class="heading">
                Change difficulty
              </div>
              <div class="btn-group">
                <button type="button" class="change-diff focus">
                  <div class="container">Easy</div>
                </button>
                <button type="button" class="change-diff">
                  <div class="container">Medium</div>
                </button>
                <button type="button" class="change-diff">
                  <div class="container">Hard</div>
                </button>
              </div>
              <div class="btn-group">
                <button type="button" data-menu="difficulty">
                  <div class="container">Active next run</div>
                </button>
                <button type="button" class="new-game" data-menu="restart">
                  <div class="container">Restart now</div>
                </button>
              </div>
            </div>
            <div class="menu hidden" data-overlay="controls" data-disables="playPause">
              <div class="heading">
                Keyboard Controls
              </div>
              <div class="body">
                <div class="tab-group container" id="tabs-key-list">
                  <button type="button" data-activate="keyboard" class="active">
                    <div class="container">Keyboard</div>
                  </button>
                  <button type="button" data-activate="gamepad">
                    <div class="container">Gamepad</div>
                  </button>
                </div>
                <div class="key-lists">
                {% for keyListType in ['keyboard', 'gamepad hidden'] %}

                  <ul class="key-list {{ keyListType }}">
                    {% block keyList %}
                    <li>
                      <span>Move left</span>
                      <div class="btn-group" data-key-group="left">
                        <button type="button" class="add-key-btn">
                          <div class="container">+</div>
                        </button>
                      </div>
                    </li>
                    <li>
                      <span>Move right</span>
                      <div class="btn-group" data-key-group="right">
                        <button type="button" class="add-key-btn">
                          <div class="container">+</div>
                        </button>
                      </div>
                    </li>
                    <li>
                      <span>Move up</span>
                      <div class="btn-group" data-key-group="up">
                        <button type="button" class="add-key-btn">
                          <div class="container">+</div>
                        </button>
                      </div>
                    </li>
                    <li>
                      <span>Move down</span>
                      <div class="btn-group" data-key-group="down">
                        <button type="button" class="add-key-btn">
                          <div class="container">+</div>
                        </button>
                      </div>
                    </li>
                    {% endblock %}
                  </ul>

                {% endfor %}
                </div>
              </div>
              <button type="button" class="focus" data-menu="controls">
                <div class="container">Resume</div>
              </button>
            </div>
          </div>
          <canvas id="canvas"></canvas>
        </div>
      </div>
      <div id="score">
        <div class="score-wrapper">
          <span class="caption">Score</span>
          <div class="container current">
            <span class="text">0</span>
          </div>
        </div>
        <div class="score-wrapper">
          <span class="caption">Highscore</span>
          <div class="container highscore">
            <span class="text">0</span>
          </div>
        </div>
      </div>
    </main>

    {%- block scriptImport %}{% endblock %}
    <script src="/js/snake/KeyControl.js"></script>
    <script src="/js/snake/main.js"></script>
    <script src="/js/snake/init.js"></script>
    {%- block initScript %}{% endblock %}
  </body>
</html>
