body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 95%);
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
:not(.disabled):focus {
  outline: none;
  filter: drop-shadow(1px 1px #284763) drop-shadow(-1px -1px #284763) drop-shadow(1px -1px #284763) drop-shadow(-1px 1px #284763);
}
#game-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
button {
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
}
button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.container {
  padding: 0.4em 0.8em;
  background-color: hsl(0, 0%, 14%);
  clip-path: polygon(100% 0.5em, 100% 100%, 100% 100%, 0.5em 100%, 0% calc(100% - 0.5em), 0 0, 0 0, calc(100% - 0.5em) 0);
  transition: background-color 0.065s ease-in-out, clip-path 0.125s ease, transform 0.125s ease;
}
button:not(.disabled) .container:hover {
  background-color: hsl(0, 0%, 15.5%);
}
button:not(.disabled) .container:active {
  transform: scale(1.025);
  clip-path: polygon(100% 0, 100% calc(100% - 0.5em), calc(100% - 0.5em) 100%, 0 100%, 0% 100%, 0 0.5em, 0.5em 0, 100% 0);
}
.btn-group,
.tab-group {
  display: flex;
  flex-wrap: wrap;
}
.tab-group > button {
  flex: 1;
}
.tab-group > button.active .container {
  background-color: hsl(0, 0%, 20.5%);
  font-weight: bold;
}
.game-wrapper {
  position: relative;
}
.game-wrapper canvas {
  display: block;
  background-color: hsl(0, 0%, 0%);
}
.game-wrapper .menu-overlay .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.game-wrapper .menu-overlay .menu > *:not(:last-child) {
  margin-bottom: 0.5em;
}
.game-wrapper .menu-overlay .menu:not(.backdrop-hidden) {
  background-color: hsla(0, 0%, 8%, 0.55);
}
@supports (-webkit-backdrop-filter: blur(24px)) or (backdrop-filter: blur(24px)) {
  .game-wrapper .menu-overlay .menu:not(.backdrop-hidden) {
    background-color: transparent;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
  }
}
.game-wrapper .menu-overlay .menu.backdrop-hidden {
  pointer-events: none;
}
.game-wrapper .menu-overlay .menu.backdrop-hidden > button:not(.toggle-overlay) {
  display: none;
}
.game-wrapper .menu-overlay .menu.hidden {
  display: none;
}
.game-wrapper .menu-overlay .menu .heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0.5em;
  background-color: hsla(0, 0%, 12%, 0.5);
  text-align: center;
  font-weight: bold;
}
.game-wrapper .menu-overlay .menu .body > *:not(:last-child) {
  margin-bottom: 0.3em;
}
.game-wrapper .menu-overlay .menu button {
  margin: 0 0.25em;
}
.game-wrapper .menu-overlay .menu .container > button:first-child {
  margin-left: 0;
}
.game-wrapper .menu-overlay .menu .container > button:last-child {
  margin-right: 0;
}
.game-wrapper .menu-overlay .menu .toggle-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  margin: 0.25em;
  pointer-events: auto;
}
.game-wrapper .score {
  position: absolute;
  left: 100%;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: max-content;
  grid-gap: 0.5em 0.25em;
  align-items: center;
  margin-left: 0.5em;
  padding: 0;
}
.game-wrapper .score .container {
  text-align: center;
}
[data-overlay="controls"] .key-lists {
  display: grid;
}
[data-overlay="controls"] .key-list {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
[data-overlay="controls"] .key-list.hidden {
  display: none;
}
[data-overlay="controls"] .key-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.2em 0.45em;
}
[data-overlay="controls"] .key-list li span {
  flex: 1;
  margin-right: 0.75em;
}
[data-overlay="controls"] .key-list li button {
  font-size: 0.9em;
  display: inline-block;
}
